<router-outlet></router-outlet>

<footer >
  <nav class="bg-white px-2 sm:px-4 py-2.5 fixed w-full z-20 bottom-0 left-0 border-t">
    <div class="container flex flex-wrap justify-center items-center mx-auto gap-10">
    <a href="/" class="flex items-center">
        <img src="assets/homeIcon.svg" class="h-8 sm:h-10" alt="Flowbite Logo">
    </a>
    <a href="/vouchers" class="flex items-center">
      <img src="assets/profile.svg" class="h-8 sm:h-10" alt="Flowbite Logo">
  </a>
  <a href="/" class="flex items-center">
    <img src="assets/homeIcon.svg" class=" h-8 sm:h-10" alt="Flowbite Logo">
</a>
<a href="/profile" class="flex items-center">
  <img src="assets/homeIcon.svg" class=" h-8 sm:h-10" alt="Flowbite Logo">
</a>
    </div>
  </nav>
</footer>
