<router-outlet></router-outlet>


<footer class="z-50">
  <nav class="bg-primary fixed w-full z-20 bottom-0 left-0 shadow-xl">
    <div class="container flex flex-wrap justify-around items-center mx-auto max-w-sm py-3 lg:max-w-md">
         <a  class="flex items-center">
          <i [routerLink]="['/index']"[routerLinkActive]="['active']" class="fa-solid fa-map-location-dot text-4xl  "></i>
        </a>
        <a routerLink="/coupon" class="flex items-center">
          <i [routerLink]="['coupon']" [routerLinkActive]="['active']" class="fa-sharp fa-solid fa-ticket text-4xl "></i>
        </a>
        <a class="flex items-center">
          <i  [routerLink]="['profile']" [routerLinkActive]="['active']" class="fa-solid fa-user text-3xl  "></i>
        </a>
    </div>
  </nav>
</footer>
