<header >
    <div class="flex items-center justify-between py-5 px-3 fixed left-0 right-0 top-0 shadow bg-primary headerProfile  z-50">
        <i class="fa-solid fa-arrow-left fa-xl ml-5 text-light" (click)="back()"></i>
        <p class="text-2xl text-light">{{title}}</p>
        <div class="relative">
            <i class="fa-solid fa-ellipsis-vertical fa-xl mr-5 text-light hover:cursor-pointer" (click)="toggleMenu()">
            </i>
            <ul class="bg-light absolute right-4 top-10 p-2 rounded flex flex-col gap-2" *ngIf="isMenuOpen">
                <li *ngIf="isLogged">
                    <button (click)="accountSetup()">Paramètres</button>
                </li>
                <li *ngIf="!isLogged">
                    <button (click)="login()">Connexion</button>
                </li>
                <li *ngIf="!isLogged">
                    <button (click)="register()">Inscription</button>
                </li>
                <li *ngIf="isLogged">
                    <button (click)="logout()">Déconnexion</button>
                </li>
            </ul>
        </div>
    </div>
</header>
