<app-header-log [title]="title"></app-header-log>

<div class="container mx-auto bg-light pt-20 py-10 pb-10 max-w-lg rounded-lg mt-10 mb-10">



  <form class="flex flex-col mx-auto gap-4" (ngSubmit)="onSubmit() " novalidate #f="ngForm">

    <div class="mb-4 relative">
      <label for="nickname" class="font-bold block mb-2 text-sm text-gray-900 dark:text-gray-300">Nom d'utilisateur</label>
      <input
        class="form-control"
        name="nickname"
        [(ngModel)]="form.nickname"
          #nickname="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && nickname.errors }"
        type="text" id="nickname" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:value-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder={{user.nickname}} >
      <div class="invalid-feedback alert alert-danger absolute top-full -bottom-6 left-1/2 transform -translate-x-1/2 w-full">
      </div>
    </div>
    <div class="mb-4 relative">
      <label for="lname" class="font-bold block mb-2 text-sm text-gray-900 dark:text-gray-300">Nom de famille</label>
      <input
        class="form-control"
        name="lname"
        [(ngModel)]="form.lname"
          #lname="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && lname.errors }"
        type="text" id="lname" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:value-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder={{user.lname}} >
      <div class="invalid-feedback alert alert-danger absolute top-full -bottom-6 left-1/2 transform -translate-x-1/2 w-full">
      </div>
    </div>
    <div class="mb-4 relative">
      <label for="fname" class="font-bold block mb-2 text-sm text-gray-900 dark:text-gray-300">Prénom</label>
      <input
        class="form-control"
        name="fname"
        [(ngModel)]="form.fname"
        #fname="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && fname.errors }"
        type="text" id="fname" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:value-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder={{user.fname}} >
      <div class="invalid-feedback alert alert-danger absolute top-full -bottom-6 left-1/2 transform -translate-x-1/2 w-full">
      </div>
    </div>

    <div class="mb-4 relative">
      <label for="phone" class="font-bold block mb-2 text-sm text-gray-900 dark:text-gray-300">Téléphone</label>
      <input
        class="form-control"
        name="phone"
        [(ngModel)]="form.phone"
        #phone="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && phone.errors }"
        type="phone" id="phone" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:value-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder={{user.phone}} >
      <div class="invalid-feedback alert alert-danger absolute top-full -bottom-6 left-1/2 transform -translate-x-1/2 w-full">
      </div>
    </div>

    <div class="mb-4 relative">
      <label for="adress" class="font-bold block mb-2 text-sm text-gray-900 dark:text-gray-300">Adresse</label>
      <input
        class="form-control"
        name="adress"
        [(ngModel)]="form.adress"
        #adress="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && adress.errors }"
        type="text" id="adress" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:value-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder={{user.adress}} >
      <div class="invalid-feedback alert alert-danger absolute top-full -bottom-6 left-1/2 transform -translate-x-1/2 w-full">
      </div>
    </div>

    <div class="mb-4 relative">
      <label for="password" class="font-bold block mb-2 text-sm text-gray-900 dark:text-gray-300">Mot de passe</label>
      <input
        class="form-control"
        name="password"
        [(ngModel)]="form.password"
        #password="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        type="password" id="password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:value-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" >
      <div class="invalid-feedback alert alert-danger absolute top-full -bottom-6 left-1/2 transform -translate-x-1/2 w-full">
      </div>
    </div>
    <div class="mb-4 relative">
      <label for="confirmPassword" class="font-bold block mb-2 text-sm text-gray-900 dark:text-gray-300">Confirmer le mot de passe</label>
      <input
        class="form-control"
        name="confirmPassword"
        [(ngModel)]="form.confirmPassword"
        #confirmPassword="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.errors }"
        type="password" id="confirmPassword" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:value-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" >
      <div class="invalid-feedback alert alert-danger absolute top-full -bottom-6 left-1/2 transform -translate-x-1/2 w-full">
      </div>
    </div>

    <div class="w-9/12  mx-auto my-10 flex items-center justify-center">
      <button type="submit" class="rounded mt-5 p-3 bg-primary text-light text-center">Enregistrer</button>
    </div>
  </form>


</div>
