<header>
  <div class="flex items-center justify-between pt-5 pl-3 pr-3">
    <a href="/"><img  class="w-7 h-7"  src="assets/arrowBack.svg" alt=""></a>
    <p>Coupons</p>
    <img src="assets/verticalDots.svg" alt="">
  </div>
</header>

<div class="container mx-auto pt-8">
  <div class="px-5 flex flex-col justify-center gap-5 ">
    <a href="#" class="flex items-center bg-white rounded-lg border shadow-md hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
      <div class="w-4/12 h-56 rounded-l-lg couponBg"  :style="background-image:url('https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt6243759afdfd4588/61e5b45c35e87a3ac8bc4840/Logo_France_Mcdo.png')" >
      </div>
      <div class="w-8/12 flex flex-col justify-between p-4 leading-normal">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Réductions de -5% sur un menu</h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">McDonalds</p>
          <div>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 flex items-center gap-1"><img src="assets/coins.svg"> 200 </p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 flex items-center gap-1">Disponibilité : 1/1 </p>
          </div>
      </div>
    </a>

    <a href="#" class="flex items-center bg-white rounded-lg border shadow-md hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
      <div class="w-4/12 h-56 rounded-l-lg couponBg"  :style="background-image:url('https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt6243759afdfd4588/61e5b45c35e87a3ac8bc4840/Logo_France_Mcdo.png')" >
      </div>
      <div class="w-8/12 flex flex-col justify-between p-4 leading-normal">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Réductions de -5% sur un menu</h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">McDonalds</p>
          <div>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 flex items-center gap-1"><img src="assets/coins.svg"> 200 </p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 flex items-center gap-1">Disponibilité : 1/1 </p>
          </div>
      </div>
    </a>

    <a href="#" class="flex items-center bg-white rounded-lg border shadow-md hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
      <div class="w-4/12 h-56 rounded-l-lg couponBg"  :style="background-image:url('https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt6243759afdfd4588/61e5b45c35e87a3ac8bc4840/Logo_France_Mcdo.png')" >
      </div>
      <div class="w-8/12 flex flex-col justify-between p-4 leading-normal">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Réductions de -5% sur un menu</h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">McDonalds</p>
          <div>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 flex items-center gap-1"><img src="assets/coins.svg"> 200 </p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 flex items-center gap-1">Disponibilité : 1/1 </p>
          </div>
      </div>
    </a>

    <a href="#" class="flex items-center bg-white rounded-lg border shadow-md hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
      <div class="w-4/12 h-56 rounded-l-lg couponBg"  :style="background-image:url('https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt6243759afdfd4588/61e5b45c35e87a3ac8bc4840/Logo_France_Mcdo.png')" >
      </div>
      <div class="w-8/12 flex flex-col justify-between p-4 leading-normal">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Réductions de -5% sur un menu</h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">McDonalds</p>
          <div>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 flex items-center gap-1"><img src="assets/coins.svg"> 200 </p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 flex items-center gap-1">Disponibilité : 1/1 </p>
          </div>
      </div>
    </a>

    <a href="#" class="flex items-center bg-white rounded-lg border shadow-md hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
      <div class="w-4/12 h-56 rounded-l-lg couponBg"  :style="background-image:url('https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt6243759afdfd4588/61e5b45c35e87a3ac8bc4840/Logo_France_Mcdo.png')" >
      </div>
      <div class="w-8/12 flex flex-col justify-between p-4 leading-normal">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Réductions de -5% sur un menu</h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">McDonalds</p>
          <div>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 flex items-center gap-1"><img src="assets/coins.svg"> 200 </p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 flex items-center gap-1">Disponibilité : 1/1 </p>
          </div>
      </div>
    </a>

  </div>



</div>
