<app-header-log [title]="title">test</app-header-log>


<div *ngIf="message">
  <p>{{message}}</p>
</div>


<div class="flex flex-col justify-center mx-auto bg-light p-10 max-w-lg rounded-lg mt-20">
<h2 class="text-center text-xl font-bold">Mon coupon</h2>

    <img src="{{voucher?.image}}" alt="{{voucher?.name}}">
  <div class="text-center">
      <h2>{{voucher?.name}}</h2>
      <h3>Lieu : nsm</h3>
      <p>Promotion : {{voucher?.description}}</p>
      <p>Période d'utilisation : {{startDate}}  - {{endDate}}</p>


</div>

</div>

