<header>
  <div class="flex items-center justify-between pt-5 pl-3 pr-3">
    <a href="/"><img  class="w-7 h-7"  src="assets/arrowBack.svg" alt=""></a>
    <p>Inscription</p>
    <img src="assets/verticalDots.svg" alt="">
  </div>
</header>
<div class="container">


<form class="flex flex-col w-8/12 mx-auto pt-20">
  <div class="mb-6">
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Email</label>
    <input type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="email@earncycle.com" required="">
  </div>
  <div class="mb-6">
    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Mot de passe</label>
    <input type="password" id="password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required="">
  </div>


  <button type="submit" class="rounded  py-2 bg-primary text-light ">S'inscrire</button>
</form>

</div>
