<app-header-log [title]="title">test</app-header-log>
<div class="container mx-auto bg-light p-10 max-w-lg rounded-lg mt-10">


<form class="flex flex-col mx-auto gap-4"
    *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
      >
  <div class="mb-4 relative">
    <label for="email" class="font-bold block mb-2 text-sm text-gray-900 dark:text-gray-300">Email</label>
    <input
    [(ngModel)]="form.email"
    required
    name="email"
    #email="ngModel"
    type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="email@earncycle.com" required="">
    <div
          class="invalid-feedback alert alert-danger absolute top-full -bottom-6 left-1/2 transform -translate-x-1/2 w-full"
          role="alert"
          *ngIf="email.errors && f.submitted"
        >
        <div class="text-error font-semibold text-center text-sm" *ngIf="email.errors['required']">L'email est obligatoire !</div>
        </div>
  </div>
  <div class="mb-4 relative">
    <label for="password" class="font-bold block mb-2 text-sm text-gray-900 dark:text-gray-300">Mot de passe</label>
    <input
    [(ngModel)]="form.password"
          required
          minlength="8"
          name="password"
          #password="ngModel"
          ngModel
    type="password" id="password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required="">
    <div
          class="invalid-feedback alert alert-danger absolute top-full -bottom-6 left-1/2 transform -translate-x-1/2 w-full"
          role="alert"
          *ngIf="password.errors && f.submitted"
        >
          <div class="text-error font-semibold text-center text-sm" *ngIf="password.errors['required']">Le mots de passe est obligatoire !</div>
          <div  class="text-error font-semibold text-center text-sm" *ngIf="password.errors['minlength']">
            Le mots de passe doit contenir au moins 8 caractères
          </div>
        </div>
  </div>

  <a href="/resetpwd" class="text-grey">Mot de passe oublié ?</a>

  <button type="submit" class="rounded  py-2 bg-primary text-light ">Connexion</button>
</form>


<div class="w-9/12 border-t-2 border-grey mx-auto my-10 flex items-center justify-center">
  <a href="/register" class="rounded mt-5 p-3 bg-primary text-light text-center">Pas encore de compte ?</a>
</div>


<div class="alert alert-success" *ngIf="isLoggedIn">
  Vous êtes connecté {{ roles }}.
</div>

</div>
