<header>
  <div class="flex items-center justify-between pt-5 pl-3 pr-3">
    <a href="/"><img  class="w-7 h-7"  src="assets/arrowBack.svg" alt=""></a>
    <p>Infos</p>
    <img  src="assets/verticalDots.svg" alt="">
  </div>
</header>
<div class="infosContainer">
  <div class="wrapCard">
    <div class="infosCard infosCard1">
      <img src="../../../../assets/truck.png" alt="">
      <p>Localiser un camion</p>
    </div>
    <div class="infosCard infosCard2">
      <img src="../../../../assets/dustbin.png" alt="">
      <p>Trouver une poubelle</p>
    </div>
    <div class="infosCard infosCard3">
      <img src="../../../../assets/form.png" alt="">
      <p>Signaler un problème</p>
    </div>
    <div class="infosCard infosCard4">
      <img src="../../../../assets/factory.png" alt="">
      <p>Trouver une décharge</p>
    </div>
  </div>
</div>
