<h1>Infos</h1>
<div class="infosContainer">
  <div class="wrapCard">
    <div class="infosCard infosCard1">
      <img src="../../../../assets/truck.png" alt="">
      <p>Localiser un camion</p>
    </div>
    <div class="infosCard infosCard2">
      <img src="../../../../assets/dustbin.png" alt="">
      <p>Trouver une poubelle</p>
    </div>
    <div class="infosCard infosCard3">
      <img src="../../../../assets/form.png" alt="">
      <p>Signaler un problème</p>
    </div>
    <div class="infosCard infosCard4">
      <img src="../../../../assets/factory.png" alt="">
      <p>Trouver une décharge</p>
    </div>
  </div>
</div>
