<div>

</div>
<div class="mainIntro grid h-screen place-items-center">
  <div class="logoIntro flex content-center flex-col text-center gap-y-10">


    <img src="../../../assets/images/character3.svg" alt="">
    <h2 class="text-light font-bold text-2xl">La vie est plus simple et vous faites un geste pour la planète</h2>
    <a routerLink="/"
       class="rounded  py-2 bg-light text-dark text-light font-bold hover:bg-hover hover:text-light w-2/5 mx-auto">Commencer</a>
    <div class="dotIntro text-center flex justify-center gap-x-5">
      <a routerLink="/intro1"><i class="fa-solid fa-circle text-grey"></i></a>
      <a routerLink="/intro2"><i class="fa-solid fa-circle text-grey"></i></a>
      <a routerLink="/intro3"><i class="fa-solid fa-circle"></i></a>


    </div>


  </div>

</div>


