

<div>
  <div class="w-screen h-screen z-10 relative"
  leaflet
  [leafletOptions]="options"
  [leafletLayers]="userPosition"
  [(leafletCenter)]="center"
  (leafletMapReady)="onMapReady($event)"
  [(leafletZoom)]="zoom"
  [leafletMarkerCluster]="[layers]"

  *ngIf="options">
  </div>
  <div class="absolute flex flex-col-reverse right-1 bottom-16 sm:bottom-20 sm:right-3  z-50 gap-1">
    <button (click)="goUser()" class=" rounded-full bg-primary relative  w-12 h-12 "><img src="assets/images/global/userMarker.png"  class="w-8 h-8 absolute top-1/2 left-1/2 -translate-x-2/4 -translate-y-2/4"></button>
    <button (click)="openFilter()" class="rounded-full bg-primary w-12 h-12 relative"><img src="assets/images/index/filter.svg" class="w-8 h-8  absolute top-1/2 left-1/2 -translate-x-2/4 -translate-y-2/4 "></button>
    <button (click)="userAchievement()">
OEEEEEEEEEE
    </button>
  </div>
</div>

<div class="absolute top-0  md:left-3/4 right-0 bottom-0 bg-light z-50 border border-dark rounded overflow-y-auto filterBar" *ngIf="modalFilter == true">
<div class="flex justify-between p-3"><h2>Filter les poubelles</h2> <div><img src="assets/images/global/cancel.svg" class="w-6 h-6 hover:cursor-pointer" (click)="closeFilter()" /> </div></div>
<div class="flex flex-col p-3 gap-4">

 <button class="bg-primary rounded p-3 hover:bg-hover" (click)="filter('Other')">Autre</button>

 <button class="bg-primary rounded p-3 hover:bg-hover" (click)="filter('Verre')">Verre</button>

 <button class="bg-primary rounded p-3 hover:bg-hover" (click)="filter('Ordures ménagères')">Ordures ménagères</button>

 <button class="bg-primary rounded p-3 hover:bg-hover" (click)="filter('Bois')">Bois</button>

 <button class="bg-primary rounded p-3 hover:bg-hover" (click)="filter('Cartons')">Cartons</button>

 <button class="bg-primary rounded p-3 hover:bg-hover" (click)="filter('Métal')">Métal</button>

 <button class="bg-primary rounded p-3 hover:bg-hover" (click)="filter('Plastique')">Plastique</button>

 <button class="bg-primary rounded p-3 hover:bg-hover" (click)="filter('Vêtement')">Vêtements</button>

 <button class="bg-primary rounded p-3 hover:bg-hover" (click)="filter('Composte')">Composte</button>

 <button class="bg-primary rounded p-3 hover:bg-hover" (click)="filter('Recyclage')">Recyclage</button>

 <button class="bg-primary rounded p-3 hover:bg-hover" (click)="setMarkers()">Annuler</button>
</div>
</div>

<div class="absolute w-full h-full top-0 z-50 achievement--bg" *ngIf="userAchievementPopup">
  <div class="relative top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-50 bg-light rounded p-4  max-w-xs achievement--inner">
    <div class="success-checkmark">
      <div class="check-icon">
        <span class="icon-line line-tip"></span>
        <span class="icon-line line-long"></span>
        <div class="icon-circle"></div>
        <div class="icon-fix"></div>
      </div>
    </div>
    <div class="achievement--info">
      <h2 class="text-primary ">Trajet Validé !</h2>
      <p>Vous avez planté 1 arbre !</p>
    <div class="flex items-center gap-2">
      <p> + {{coins}} pièces </p> <img class="w-8 h-8" src="/assets/coins.svg" alt="image pièce profile"/>
    </div>
     <a href="/coupon">Voir les offres</a>
    </div>
  </div>
</div>

<div class="absolute w-full h-full top-0 z-50 loader--bg" *ngIf="loading">
  <div class="loader--loading relative top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-50 bg-light rounded p-4 before:bg-primary " ><span class="flex flex-col items-center "> <img class="animate-spin " src="assets/images/global/loader.png" alt="Loading" draggable="false">  Loading</span></div>

</div>








