

<div>
  <div class="w-screen h-screen z-10 relative"
  leaflet
  [leafletOptions]="options"
  [leafletLayers]="userPosition"
  [(leafletCenter)]="center"
  (leafletMapReady)="onMapReady($event)"
  [(leafletZoom)]="zoom"
  [leafletMarkerCluster]="[layers]"

  *ngIf="options">
  </div>
  <div class="absolute flex flex-col-reverse right-1 bottom-20 md:bottom-24 sm:right-3  z-50 gap-1">
    <button (click)="goUser()" class=" rounded-full bg-primary relative  w-12 h-12  md:w-14 md:h-14 hover:bg-hover "><img src="assets/images/global/userMarker.png"  class="w-6 h-6  md:w-8 md:h-8 absolute top-1/2 left-1/2 -translate-x-2/4 -translate-y-2/4"></button>
    <button (click)="openFilter()" class="rounded-full bg-primary  w-12 h-12  md:w-14 md:h-14 relative hover:bg-hover "><img src="assets/images/index/filter.svg" class="w-6 h-6  absolute top-1/2 left-1/2 -translate-x-2/4 -translate-y-2/4"></button>
    <button *ngIf="isRoute" (click)="openCancelRoute()" class=" rounded-full bg-primary relative  w-12 h-12  md:w-14 md:h-14 hover:bg-hover  "><img src="assets/images/index/cancelRoute.svg"  class="w-6 h-6  absolute top-1/2 left-1/2 -translate-x-2/4 -translate-y-2/4"></button>
    <button (click)="userAchievement()" class="rounded-full bg-primary  w-12 h-12  md:w-14 md:h-14 relative hover:bg-hover ">Test</button>

  </div>
</div>

<div class="absolute top-0 w-screen md: md:w-1/3 right-0 bottom-0 bg-light z-50 border-l border-dark rounded overflow-y-auto filterBar" *ngIf="modalFilter == true">
<div class="flex justify-between w-screen md: md:w-1/3 fixed p-2 bg-light right-0 border"><h2 class="pr-5">Filter par catégorie</h2> <div><img src="assets/images/global/cancel.svg" class="w-6 h-6 hover:cursor-pointer" (click)="closeFilter()" /> </div></div>
<div class="flex flex-col p-3 gap-4 mt-14">

<div class="flex" (click)="setMarkers()" *ngIf="filterActive" class="hover:cursor-pointer hover:underline">
  <p class="font-bold">Reinitialiser Filtres</p>
  <img src="assets/images/index/redoArrow.svg" alt="Icone Reinitialiser" class="w-10 h-10">
</div>

<button class="bg-primary rounded p-3 hover:bg-hover grid grid-colonne justify-items-center gap-2" (click)="filter('Other')"> <img class=" w-10 justify-self-end" src="assets/images/iconBin/bin.svg" alt="Autre  Logo Poubelle"> <span class=" self-center justify-self-start">Autre</span></button>

 <button class="bg-primary rounded p-3 hover:bg-hover grid grid-colonne justify-items-center gap-2" (click)="filter('Glass')"> <img class=" w-10 justify-self-end" src="assets/images/iconBin/glassBin.png" alt="Verre  Logo Poubelle"><span class=" self-center justify-self-start">Verre</span></button>

 <button class="bg-primary rounded p-3 hover:bg-hover grid grid-colonne justify-items-center gap-2" (click)="filter('Waste')"> <img class=" w-10 justify-self-end" src="assets/images/iconBin/wasteBin.png" alt="Ordures menageres  Logo Poubelle"><span class=" self-center justify-self-start">Ordures ménagères</span></button>

 <button class="bg-primary rounded p-3 hover:bg-hover grid grid-colonne justify-items-center gap-2" (click)="filter('Wood')"> <img class=" w-10 justify-self-end" src="assets/images/iconBin/woodBin.png" alt="Bois  Logo Poubelle"><span class=" self-center justify-self-start">Bois</span></button>

 <button class="bg-primary rounded p-3 hover:bg-hover grid grid-colonne justify-items-center gap-2" (click)="filter('Cardboard')"> <img class=" w-10 justify-self-end" src="assets/images/iconBin/cardboardBin.png" alt="Cartons  Logo Poubelle"><span class=" self-center justify-self-start">Cartons</span></button>

 <button class="bg-primary rounded p-3 hover:bg-hover grid grid-colonne justify-items-center gap-2" (click)="filter('Metal')"> <img class=" w-10 justify-self-end" src="assets/images/iconBin/metalBin.png" alt="Metal  Logo Poubelle"><span class=" self-center justify-self-start">Métal</span></button>

 <button class="bg-primary rounded p-3 hover:bg-hover grid grid-colonne justify-items-center gap-2" (click)="filter('Plastic')"> <img class=" w-10 justify-self-end" src="assets/images/iconBin/plasticBin.png" alt="Platic  Logo Poubelle"><span class=" self-center justify-self-start">Plastique</span></button>

 <button class="bg-primary rounded p-3 hover:bg-hover grid grid-colonne justify-items-center gap-2" (click)="filter('Clothes')"> <img class=" w-10 justify-self-end" src="assets/images/iconBin/clothesBin.png" alt="Vetements  Logo Poubelle"><span class=" self-center justify-self-start">Vêtements</span></button>

 <button class="bg-primary rounded p-3 hover:bg-hover grid grid-colonne justify-items-center gap-2" (click)="filter('Compost')"> <img class=" w-10 justify-self-end" src="assets/images/iconBin/compostBin.png" alt="Composte  Logo Poubelle"><span class=" self-center justify-self-start">Composte</span></button>

 <button class="bg-primary rounded p-3 hover:bg-hover grid grid-colonne justify-items-center gap-2" (click)="filter('Recycling')"> <img class=" w-10 justify-self-end" src="assets/images/iconBin/recycleBin.png" alt="Recyclage  Logo Poubelle"><span class=" self-center justify-self-start">Recyclage</span></button>

</div>
</div>



<div class="absolute w-full h-full top-0 z-50 achievement--bg" *ngIf="userAchievementPopup">
  <div class="relative top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-50 bg-light rounded p-4  max-w-xs achievement--inner">
    <img src="assets/images/global/cancel.svg" class="w-6 h-6 hover:cursor-pointer absolute top-3 right-3" (click)="closeAchievement()" />
    <div *ngIf="userAchievementLogged">
      <div class="success-checkmark">
        <div class="check-icon">
          <span class="icon-line line-tip"></span>
          <span class="icon-line line-long"></span>
          <div class="icon-circle"></div>
          <div class="icon-fix"></div>
        </div>
      </div>
      <div class="achievement--info">
        <h2 class="text-primary ">Trajet Validé !</h2>
        <p>Vous avez planté 1 arbre ! 🌳</p>
      <div class="flex items-center gap-2">
        <p> + {{coins}} pièces </p> <img class="w-8 h-8" src="/assets/coins.svg" alt="image pièce profile"/>
      </div>
       <a href="/coupon">Voir les offres</a>
      </div>
    </div>
    <div *ngIf="!userAchievementLogged">
      <div class="achievement--info">
        <h2 class="text-primary ">Trajet Validé !</h2>
        <p class="pt-4">Vous n'avez pas encore de compte !</p>
        <p class="text-center pt-2">Créez-vous un compte dès maintenant pour gagner des pièces et les utiliser dans les <a href="/coupon" class="hover:underline">offres</a>.</p>
       <a href="/register" class="pt-4 hover:underline">Je crée mon compte !</a>
      </div>
    </div>

  </div>
</div>


<div class="absolute w-full h-full top-0 z-50 cancel--bg" *ngIf="cancelRoutePopup">
  <div class="relative top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-50 bg-light rounded p-4  max-w-xs">
        <h2 class="text-primary text-center">Voulez-vous annuler votre trajet ?</h2>
        <div class="flex pt-2 justify-center gap-5">
          <button (click)="cancelRoute()" class="rounded bg-primary p-2 text-light font-bold hover:bg-hover">Confirmer</button>
          <button (click)="closeCancelRoute()" class="rounded bg-error p-2 text-light font-bold close">Retour</button>
        </div>
  </div>
</div>

<div class="absolute w-full h-full top-0 z-50 loader--bg" *ngIf="loading">
  <div class="loader--loading relative top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-50 bg-light rounded p-4 before:bg-primary " >
    <span class="flex flex-col items-center ">
      <img class="animate-spin " src="assets/images/global/loader.png" alt="Loading" draggable="false">
      Chargement...</span>
  </div>
</div>








