

.containerCoupon {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  background: #ECECEC;
  max-width: 1000px;
}
.profilePicture {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 63%;
  position: absolute;
  top: 20px;
  right: 30px;
}
/*.containerCoupon h1 {*/
/*  margin-top: 2rem;*/
/*  font-size: 2rem;*/
/*  font-weight: bold;*/
/*}*/
.containerCoupon ul {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-top: 9rem;
  font-size: 1.5rem;
  justify-content: center;
}
.containerCoupon li {
  background: white;
  padding: 0.5rem;
  border-radius: 5px;
  color: #25D0B6;
}
.containerCoupon li:hover {
  background: #086375;
  color: white;
}
.couponCardContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
  gap: 2rem;
}
.couponCard {
  background: white;
  width: 300px;
  height: 350px;
  border-radius: 5px;
  margin-bottom: 2rem;

}

.couponCard img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.couponCard h2 {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}
.btnCoupon {
  margin-top: 2rem;
  color: white;
  background: #25D0B6;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
  width: 30%;
}
.btnCoupon:hover {
  background: #086375;
}
